[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "~=7.4.5"
pre-commit = "~=4.3.0"
pandas = "~=2.3.2"
openpyxl = "~=3.1.5"
matplotlib = "~=3.10.5"
xlsxwriter = "~=3.2.5"
dataframe-image = "~=0.2.7"
fpdf2 = "~=2.8.4"
networkx = "~=3.5"
pyvis = "~=0.3.2"
webdriver-manager = "~=4.0.2"
selenium = "~=4.35.0"
pytest = "~=8.4.1"
numpy = "~=2.3.2"

[dev-packages]

[requires]
python_version = "3.11"
