name: Publish Python distribution TestPyPI

on: push

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"
    - name: Install pypa/build
      run: >-
        python3 -m
        pip install
        --upgrade build
        --user
    - name: Build a binary wheel and a source tarball
      run: python3 -m build
    - name: Store the distribution packages
      uses: actions/upload-artifact@v3
      with:
        name: python-package-distributions
        path: dist/
    - name: Store egg-info of package
      uses: actions/upload-artifact@v3
      with:
        name: egg-info
        path: src/vlinder_test.egg-info

  publish-to-testpypi:
    name: Publish Python distribution to TestPyPI
    #if: startsWith(github.ref, 'refs/tags/test')
    needs:
    - build
    runs-on: ubuntu-latest
    environment:
      name: testpypi
      url: https://test.pypi.org/p/vlinder_test

    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing   

    steps:
    - name: Download all the dists
      uses: actions/download-artifact@v3
      with:
        name: python-package-distributions
        path: dist/
    - name: Download egg-info
      uses: actions/download-artifact@v3
      with:
        name: egg-info
        path: src/vlinder_test.egg-info
    - name: Publish distribution to TestPyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
       repository-url: https://test.pypi.org/legacy/
